<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PROJET_PAD_CLIENT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sIdentification</servlet-name>
    <servlet-class>servlet.sIdentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sIdentification</servlet-name>
    <url-pattern>/sIdentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sEditProfil_Candidat</display-name>
    <servlet-name>sEditProfil_Candidat</servlet-name>
    <servlet-class>servlet.sEditProfil_Candidat</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sEditProfil_Candidat</servlet-name>
    <url-pattern>/sEditProfil_Candidat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sCreateProfil_Candidat</display-name>
    <servlet-name>sCreateProfil_Candidat</servlet-name>
    <servlet-class>servlet.sCreateProfil_Candidat</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sCreateProfil_Candidat</servlet-name>
    <url-pattern>/sCreateProfil_Candidat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sCandidater</display-name>
    <servlet-name>sCandidater</servlet-name>
    <servlet-class>servlet.sCandidater</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sCandidater</servlet-name>
    <url-pattern>/sCandidater</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeconnecterCandidat</display-name>
    <servlet-name>sDeconnecterCandidat</servlet-name>
    <servlet-class>servlet.sDeconnecterCandidat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeconnecterCandidat</servlet-name>
    <url-pattern>/sDeconnecterCandidat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sCreateAlerte</display-name>
    <servlet-name>sCreateAlerte</servlet-name>
    <servlet-class>servlet.sCreateAlerte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sCreateAlerte</servlet-name>
    <url-pattern>/sCreateAlerte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sEditAlerte_Candidat</display-name>
    <servlet-name>sEditAlerte_Candidat</servlet-name>
    <servlet-class>servlet.sEditAlerte_Candidat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sEditAlerte_Candidat</servlet-name>
    <url-pattern>/sEditAlerte_Candidat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteAlerte_Candidat</display-name>
    <servlet-name>sDeleteAlerte_Candidat</servlet-name>
    <servlet-class>servlet.sDeleteAlerte_Candidat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteAlerte_Candidat</servlet-name>
    <url-pattern>/sDeleteAlerte_Candidat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteCandidat</display-name>
    <servlet-name>sDeleteCandidat</servlet-name>
    <servlet-class>servlet.sDeleteCandidat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteCandidat</servlet-name>
    <url-pattern>/sDeleteCandidat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sCreateProfil_Admin</display-name>
    <servlet-name>sCreateProfil_Admin</servlet-name>
    <servlet-class>servlet.sCreateProfil_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sCreateProfil_Admin</servlet-name>
    <url-pattern>/sCreateProfil_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeconnecterAdmin</display-name>
    <servlet-name>sDeconnecterAdmin</servlet-name>
    <servlet-class>servlet.sDeconnecterAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeconnecterAdmin</servlet-name>
    <url-pattern>/sDeconnecterAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sEditProfil_Admin</display-name>
    <servlet-name>sEditProfil_Admin</servlet-name>
    <servlet-class>servlet.sEditProfil_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sEditProfil_Admin</servlet-name>
    <url-pattern>/sEditProfil_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDelete_compteAdmin</display-name>
    <servlet-name>sDelete_compteAdmin</servlet-name>
    <servlet-class>servlet.sDelete_compteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDelete_compteAdmin</servlet-name>
    <url-pattern>/sDelete_compteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sCreateFormation</display-name>
    <servlet-name>sCreateFormation</servlet-name>
    <servlet-class>servlet.sCreateFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sCreateFormation</servlet-name>
    <url-pattern>/sCreateFormation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sEditFormation</display-name>
    <servlet-name>sEditFormation</servlet-name>
    <servlet-class>servlet.sEditFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sEditFormation</servlet-name>
    <url-pattern>/sEditFormation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sCreateOffre</display-name>
    <servlet-name>sCreateOffre</servlet-name>
    <servlet-class>servlet.sCreateOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sCreateOffre</servlet-name>
    <url-pattern>/sCreateOffre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sEditOffre</display-name>
    <servlet-name>sEditOffre</servlet-name>
    <servlet-class>servlet.sEditOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sEditOffre</servlet-name>
    <url-pattern>/sEditOffre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteOffre</display-name>
    <servlet-name>sDeleteOffre</servlet-name>
    <servlet-class>servlet.sDeleteOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteOffre</servlet-name>
    <url-pattern>/sDeleteOffre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteCandidature</display-name>
    <servlet-name>sDeleteCandidature</servlet-name>
    <servlet-class>servlet.sDeleteCandidature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteCandidature</servlet-name>
    <url-pattern>/sDeleteCandidature</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteSociete</display-name>
    <servlet-name>sDeleteSociete</servlet-name>
    <servlet-class>servlet.sDeleteSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteSociete</servlet-name>
    <url-pattern>/sDeleteSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sEditSociete</display-name>
    <servlet-name>sEditSociete</servlet-name>
    <servlet-class>servlet.sEditSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sEditSociete</servlet-name>
    <url-pattern>/sEditSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sCreateSociete</display-name>
    <servlet-name>sCreateSociete</servlet-name>
    <servlet-class>servlet.sCreateSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sCreateSociete</servlet-name>
    <url-pattern>/sCreateSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeleteFormation</display-name>
    <servlet-name>sDeleteFormation</servlet-name>
    <servlet-class>servlet.sDeleteFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteFormation</servlet-name>
    <url-pattern>/sDeleteFormation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDesinscription</display-name>
    <servlet-name>sDesinscription</servlet-name>
    <servlet-class>servlet.sDesinscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDesinscription</servlet-name>
    <url-pattern>/sDesinscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDeconnecterSociete</display-name>
    <servlet-name>sDeconnecterSociete</servlet-name>
    <servlet-class>servlet.sDeconnecterSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeconnecterSociete</servlet-name>
    <url-pattern>/sDeconnecterSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDecision</display-name>
    <servlet-name>sDecision</servlet-name>
    <servlet-class>servlet.sDecision</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDecision</servlet-name>
    <url-pattern>/sDecision</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDesinscriptionSoc</display-name>
    <servlet-name>sDesinscriptionSoc</servlet-name>
    <servlet-class>servlet.sDesinscriptionSoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDesinscriptionSoc</servlet-name>
    <url-pattern>/sDesinscriptionSoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sRechercheCandidat</display-name>
    <servlet-name>sRechercheCandidat</servlet-name>
    <servlet-class>servlet.sRechercheCandidat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sRechercheCandidat</servlet-name>
    <url-pattern>/sRechercheCandidat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sDownload</display-name>
    <servlet-name>sDownload</servlet-name>
    <servlet-class>servlet.sDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDownload</servlet-name>
    <url-pattern>/sDownload</url-pattern>
  </servlet-mapping>
  
</web-app>